# npm
node_modules
!.pnpmfile.cjs
pnpm-lock.yaml
package-lock.json
yarn.lock

# IDE
.idea/

# built files
build/
dist/

# lighthouse report
localhost_*.report.html

# config
.env
.open

# MacOS
.DS_Store

# live server
server.pid

# user uploaded files
uploads/

# git files
*.orig

# data files
data/*.tmp.*
data/*.sql
