{
  "singleQuote": true,
  "jsxSingleQuote": false,
  "overrides": [
    {
      "files": [
        "*.scss",
        "*.css"
      ],
      "options": {
        "singleQuote": false
      }
    }
  ],
  "trailingComma": "all"
}
